html {
	height: 100%;
}

body {
	font: normal 12px tahoma;
	position: relative;
	height: 100%;
}



.wrapper {

	position: absolute;
	top: 10%;
	left: 25%;
	right: 25%;
	bottom: 10%;
	border: 5px solid #236678;
	overflow: scroll;
}